/* コンテンツ */
.c_featured-collection__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    column-gap: 40px;
    row-gap: 64px;
    margin: 0;
    padding: 0;
    list-style: none;
}
@media screen and (max-width: 750px) {
    .c_featured-collection__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 64px;
    }
    
}